@import url('https://fonts.googleapis.com/css?family=Nunito');

nav {
	color: green;
	position: fixed;
	top: 20px;
	width: 100%;
	
}

nav ul {
	padding: 0px;
	text-align: center;
}
nav li {
	display: inline-block;
	text-align: center;
	
}

#headline {
	font-family: "Nunito";
	font-size: 1.4em;
	color: green;
	display: inline-block;
	width: 100%;
	text-align: center;
	margin-top: 50px;
}

#hero-image {
	width: 200px;
	height: 200px;
	margin: auto; 
	border: 1px green solid;
	background-image: url("http://placekitten.com/200/200");
}

#projects {
	border: 1px red solid;
	margin: 10px;
}

.row {
	width: 100%;
}

.column {
	float: left;
	width: 33.3%
}

.column img {
	width: 100%;
	height: auto;

}

p {
	text-align: center;
	font-family: "Nunito";
}

#contact {
	width: 100%;
}

#contactRow {
	background-color: gray;
	height: 60px;
	position: fixed;
	width: 100%;
	bottom: 0px;

}

.contactColumn {
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 5px;
	float: right;
	position: relative;
	top: 5px;
	bottom: 5px;
	right: 5px;
	left: 5px;
	margin: 5px;
}

/*Media Queries*/